<div id="posts-container">
    {{#each posts as |post|}}
        <div class="row mb-4 post">
            <div class="col-md-2">
                <h2>Topic: </h2>
                <h2 class="title-text">
                    {{post.title}}
                </h2>
                <p>Author: {{post.user.username}}</p>
                <p>Posted on {{format_date post.createdAt}}</p>
            </div>

            <div class="col-md-10">
                <div class="post-text">
                    <p>
                        {{#if ../logged_in}}
                        {{truncate post.content 100}}
                        {{#if (gt post.content.length 100)}}
                            <a href="/posts/{{post.id}}">Read More</a>
                        {{/if}}
                        {{else}}
                        {{post.content}}
                        {{/if}}
                    </p>
                </div>

                <!-- Reply form -->
                
              

                <div class="buttons-container">
                      {{#if ../logged_in}}
                <div class="reply-form" >
                    <form id="reply-form-{{post.id}}" action="/api/comments" method="POST">
                        <input type="hidden" name="post_id" value="{{post.id}}">
                        <textarea  name="content" placeholder="Thoughts?..."></textarea>
                        <button type="submit">Submit</button>
                    </form>
                </div>
                {{/if}}
                    {{#if ../logged_in}}
                    <button class="like-btn" data-post-id="{{post.id}}" onclick="likePost('{{post.id}}')">Like</button>
                    <span id="like-count-{{post.id}}">{{post.likes_count}}</span>
                    {{#if post.userLiked}}
                        <span>👍</span>
                    {{/if}}
                   
                    {{/if}}
                </div>
            </div>
        </div>
    {{/each}}
</div>

<script>
    function likePost(postId) {
        fetch(`/api/posts/like`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ postId }),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error("Something went wrong while liking the post");
            }
            // Refresh the page after a successful like action
            location.reload();
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
</script>