<div class="single-post">
    <h1>{{post.title}}</h1>
    <p>Author: {{post.user.username}}</p>
    <p>Posted on {{format_date post.createdAt}}</p>
    <div class="post-content">
        <p>{{post.content}}</p>
    </div>

    <div class="comments">
    <h2>Comments:</h2>
    {{#each post.comments}}
        <div class="comment">
            <p>{{this.content}}</p>
            <p>Author: {{this.user.username}}</p>
            <p>Posted on {{format_date this.createdAt}}</p>
            
            {{#if ../logged_in}}
            <div class="buttons-container">
                <button class="like-btn" data-comment-id="{{this.id}}" onclick="likeComment('{{this.id}}')">Like</button>
                <span id="like-count-{{this.id}}">{{this.likes_count}}</span>
                {{#if this.userLiked}}
                    <span class="like-icon">👍</span>
                {{/if}}
             </div>

            <form id="reply-form-{{../post.id}}" class="reply-form hidden" action="/api/comments" method="POST">
    <input type="hidden" name="post_id" value="{{../post.id}}">
    <textarea name="content" placeholder="Thoughts?..."></textarea>
    <div>
        <button type="submit">Comment</button>
    </div>
</form>
            {{/if}}
        </div>
    {{/each}}
    </div>
</div>

<br>
<div>
    <a href="/">Back to Posts</a>
</div>

<script>
function likeComment(commentId) {
    fetch(`/api/comments/like`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ commentId }),
    })
    .then(response => {
        if (!response.ok) {
            throw new Error("Something went wrong while liking the comment");
        }
        // add the thumbs up symbol
        const likeCountSpan = document.querySelector(`#like-count-${commentId}`);
        const likeIcon = document.createElement('span');
        likeIcon.classList.add('like-icon');
        likeIcon.textContent = '👍';
        likeCountSpan.after(likeIcon);
        // increment like count
        const currentCount = parseInt(likeCountSpan.textContent, 10);
        likeCountSpan.textContent = currentCount + 1;
    })
    .catch((error) => {
        console.error('Error:', error);
    });
}
</script>