<main class="profile-container">
    <h1>User Profile</h1>
    <section class="user-info">
        <div><strong>Username:</strong> {{username}}</div>
        <div><strong>Email:</strong> {{email}}</div>
        <div><strong>Member since:</strong> {{created_at}}</div>
        <div><strong>Number of posts:</strong> {{posts_count}}</div>
        <div><strong>Number of likes:</strong> {{likes_count}}</div>
    </section>
    <br>
    <br>
    <h2>Posts I Liked</h2>
    <br>
    <br>
    <!-- List of posts -->
    <ul class="posts-list">
        {{#each likedPosts}}
            <li class="post" data-category="{{this.category}}">
                <h2>{{this.title}}</h2>
                <p>{{this.content}}</p> 
                <p>Posted by: {{this.username}}</p>
                <p>Category: {{this.category}}</p>
                <p>Date: {{this.createdAt}}</p>
                
            </li>
        {{/each}}
    </ul>
</main>